extends ../layout/main

block variables
	- var title = 'Главная страница'

block content
	include ../blocks/first
	include ../blocks/features
	include ../blocks/note
	include ../blocks/results
	include ../blocks/systems
