body
	background-color mainBgColor

.box_shadow
	box-shadow 0 0 50px rgba(0, 0, 0, .1)
	padding 50px 70px

.orange
	color white
	background-color iconHover
	border none !important

.dark
	color white
	background-color textColor
	border none !important