// ЦВЕТА

textColor = #393945
iconColor = #cdcdcf
iconHover = #fe5c2e
mainBgColor = #fafafa
navTextColor = #7b7b81
navTextHover = #393945
white = #ffffff

// РАЗМЕРЫ


// ШРИФТЫ

mainFont = 'Museo Sans Cyrl 300'