.contacts
	.container
		.contacts__wrap
			a(href="mailto:info@it-rules.ru").contacts__mail info@it-rules.ru
			a(href="tel:+74953803774").contacts__phone +7 (495) 380-37-74
			ul.contacts__social
				li.contacts__social-item
					a(href="#")
						i.fa.fa-vk
				li.contacts__social-item
					a(href="#")
						i.fa.fa-twitter
				li.contacts__social-item
					a(href="#")
						i.fa.fa-facebook-official
				li.contacts__social-item
					a(href="#")
						i.fa.fa-instagram
				li.contacts__social-item
					a(href="#")
						i.fa.fa-youtube-play