section.feat
	ul.feat__list
		li
			img(src="static/img/features/1.png", alt="img")
			h3 опыт
			p разработки IT решений более 15 лет
		li
			img(src="static/img/features/2.png", alt="img")
			h3 работа
			p с различными поставщиками ПО (более 18)
		li
			img(src="static/img/features/3.png", alt="img")
			h3 заказчики
			p со штатом более чем 1000 сотрудников
		li
			img(src="static/img/features/4.png", alt="img")
			h3 отчетность
			p любой сложности а также по станартам РСБУ и МСФО/GAAP
		li
			img(src="static/img/features/5.png", alt="img")
			h3 решения
			p работают у 160 довольных клиентов