main.first
	h1.first__title Базы данных ERP CRM 1C
	p.first__descr Подбор. Внедрение. Разработка. Обучение. Сопровождение. <br>Бесплатное гарантийное обслуживание - 2 года!
	.first__action
		a(href="#") Заказать
			i.fa.fa-arrow-right
		span Закажите бесплатное техническое задание!
	ul.first__advantages
		li
			p
				span erp
				|  - прибыль и ваше свободное время
		li
			p
				span csm
				|  - оперативное исполнение ваши поручений без бумаги
		li
			p
				span crm
				|  - новые продажи вашим старым клиентам
		li
			p
				span ит инфаструктура
				|  - надежная работа бизнеса и ваше спокойствие 24/7
		li
			p
				span bi
				|  - быстрая и точная проверка вашего бизнеса