header.header
	nav.header__nav
		ul
			li
				a(href="#") Решения и риезультаты
			li
				a(href="#") С какими работаем
			li
				a(href="#") Системы
			li
				a(href="why.html") Почему мы
			li
				a(href="#") Нам доверяют
			li
				a(href="new_page.html") Новая страничка
	form.header__search
		input(type="text" placeholder="Что ещё")
		button
			i.fa.fa-search
