section.results
	h1.results__title Решения и результаты внедрения
	p.results__descr Мы предлагаем, как комплексные решения для компаний, так и готовые решения в конкретных направлениях.
	ul.results__list
		li
			.text
				h3 Продажи
				p.text__task
					span Задача: 
					span Увеличение повторных продаж на 30% за полгода!
				p.text__decision
					span Решение: 
					span Автоматизация воронки продаж
				a(href="#") Развернуть
			.img
				img(src="static/img/results/1.png", alt="img") 
		li
			.text
				h3 Поддержка продаж
				p.text__task
					span Задача: 
					span Поддержка до 100 клиентов одним менеджером
				p.text__decision
					span Решение: 
					span Сиситема управления взаимодействия с клиентом CRM
				a(href="#") Развернуть
			.img
				img(src="static/img/results/2.png", alt="img") 
		li
			.text
				h3 Логистика
				p.text__task
					span Задача: 
					span Уменьшение затоваривания складов на 1/4 в течении 6 мес.!
				p.text__decision
					span Решение: 
					span ABC анализ товарооборота
				a(href="#") Развернуть
			.img
				img(src="static/img/results/3.png", alt="img") 
		li
			.text
				h3 Производство
				p.text__task
					span Задача: 
					span Сокращение ФОТ производственных рабочих на 10%
				p.text__decision
					span Решение: 
					span Уьеньшение переработок до 0
				a(href="#") Развернуть
			.img
				img(src="static/img/results/4.png", alt="img") 
		li
			.text
				h3 Оказание услуг
				p.text__task
					span Задача: 
					span Сокращение срывов сроков по подрядам в два раза за 9 месящев
				p.text__decision
					span Решение: 
					span Система взаимодействия с заказчиками ии подрядчиками
				a(href="#") Развернуть
			.img
				img(src="static/img/results/5.png", alt="img") 
		li
			.text
				h3 Персонал
				p.text__task
					span Задача: 
					span Повышение индивидуальных KPI сотрудников до 15%
				p.text__decision
					span Решение: 
					span Индивидуальный план развития компетенций сотрудника
				a(href="#") Развернуть
			.img
				img(src="static/img/results/6.png", alt="img") 
		li
			.text
				h3 Аналитика
				p.text__task
					span Задача: 
					span Повышение качества управленческих решений в разы
				p.text__decision
					span Решение: 
					span Персонализированные KPI для вашего бизнеса
				a(href="#") Развернуть
			.img
				img(src="static/img/results/7.png", alt="img") 
		li
			.text
				h3 Коммуникации
				p.text__task
					span Задача: 
					span Повышение скорости согласованиея документов в 3 раза
				p.text__decision
					span Решение: 
					span Автоматизации процессов прохождения документов
				a(href="#") Развернуть
			.img
				img(src="static/img/results/8.png", alt="img") 
		li
			.text
				h3 Инфраструктура
				p.text__task
					span Задача: 
					span Снижение затрат на обслуживание ИТ на 20%
				p.text__decision
					span Решение: 
					span Сиситема размещения и оценок ТИ заявок HelpDesk
				a(href="#") Развернуть
			.img
				img(src="static/img/results/9.png", alt="img") 