section.systems
	h1.systems__title С какими системами мы работаем
	p.systems__descr Мы работаем со всеми лидерами Российского рынка программного обеспечения. Наши специалисты подберут наилучшую систему для Вашего бизнеса. Так же мы готовы реализовать необходимое решение для Вашей организации в выбранной вами системе.
	ul.systems__list
		li
			img(src="static/img/with/1.png", alt="")
		li
			img(src="static/img/with/2.png", alt="")
		li
			img(src="static/img/with/3.png", alt="")
		li
			img(src="static/img/with/4.png", alt="")
		li
			img(src="static/img/with/5.png", alt="")
		li
			img(src="static/img/with/6.png", alt="")
		li
			img(src="static/img/with/7.png", alt="")
		li
			img(src="static/img/with/8.png", alt="")
		li
			img(src="static/img/with/9.png", alt="")
		li
			img(src="static/img/with/10.png", alt="")
		li
			img(src="static/img/with/11.png", alt="")
		li
			img(src="static/img/with/12.png", alt="")
		li
			img(src="static/img/with/13.png", alt="")
	ul.systems__systems
		li Система ERP
		li Система CRM
		li.dark  BI
		li CMS
		li.orange Система WMS
		li Ит инфраструктура
	p.systems__descr.bold <ins>ERP</ins> - (Entreprise resurs planning) система планирования ресурсами предприятия. <br>Изначально узкоспециализированный класс систем, для планирования производства.
	.systems__features
		p.systems__descr.bold В современном прочтении - это комплексная информационная система для учета ЛЮБОЙ хозяйственной деятельности компании:
		ul
			li
				span Движение денежных потоков.
			li
				span Движение товано-материальных ценностей.
			li
				span Производство и планирование производственных мощностей (люди/оборудование/сырье).
			li
				span Персонал и расчет заработной платы.
			li
				span Бухгалтерия (Основные фонды/нематериальные активы/отчетность).
			li
				span Взаимодействие с клиентами.
	.systems__benefit
		h3 Выгоды:
		ul
			li Освободит время сотрудников  на обработку документов. Информация вносится в систему один раз.
			li Повысит прозрачность бизнеса. В режиме реального времени видно состояние бизнеса – кредиторка, неликвиды, проблемные заказы.
			li Улучшит качество работы с клиентами – более детальная информация для клиента о его заказах.
			li Уменьшит затраты на сопровождение и техническую поддержку. 
